recentf
#init.el#
init.el~
network-security.data
.last-package-update-day


elpa/
auto-save-list/
transient/
/.org-id-locations
/ac-comphist.dat
/custom.el
/image-dired/
/oauth2.plstore
/session.*
/tramp
/url/
/var/
*.elc

#  Emacs tmp files & Misc
/.mc-lists.el
/.DS_Store
/.emacs.desktop
/.emacs.desktop.lock
/.watsonresults
/ac-comphist.dat
/auto-save-list
/eshell/history
/eshell/lastdir
/newsticker/feeds/
/snippets/
/tramp
/url/cookies
/.python-environments/
/ido.last
/places
/private.el
/games/
/bookmarks
/projectile-bookmarks.eld
/projectile.cache
